


<header class="content">
  <h1 class="animated-title">Cursos</h1>
  <nav>
      <ul id="menu">
          <li><a href="#inicio" class="ania"> Inicio</a></li>
          <li><a href="#cursos" class="ania"> Cursos</a></li>
          <li><a href="#agregarNuevoCurso" class="ania"> Agregar curso</a></li>
          <li><a href="#contactos" class="ania"> Contactos</a></li>
      </ul>
  </nav>
  

</header>

<app-home-component></app-home-component>

<app-operaciones-component></app-operaciones-component>



<router-outlet />
